header
  margin: 0
  display: inline-block
  height: 400px
  width: 100%
  margin: -5px 0
  padding: 0
  background: url(/assets/vocal/speaking.jpg) no-repeat center
  background-size: cover
  background-position: 0 -230px
  a
    text-decoration: none
    color: white

  h1
    text-align: center
    margin: 140px 0
  .social-links
    font-size: 30px
    float: left
    color: white
    margin: 5px
