=post
  h1, h2, h3, h4, h5, h6
    margin: 2em 0 0.75em 0

  h1:first-of-type
    margin-top: 0

  article
    word-wrap: break-word

  .meta-small, .published_at, .author
    color: #CCCBCB
  .published_at, .comments
    display: none
  .meta-small, .meta
    font-family: 'Quicksand', sans-serif
    a
      color: #CCCBCB
      text-decoration: none
    font-size: 1.8em
    text-align: center
    margin: 10px 0 10px 0

  li
    font-size: 2em

  // Nested lists should have the same size
  li li
    font-size: 1em

  ul.social-share
    list-style-type: none
    li
      height: 31px
      margin: 0
      padding: 0
    .facebook
      margin: -9px 0 10px 0

  pre code
    font-size: 1.6em

  p>code, li>code
    font-size: 0.8em
    background: rgba(236, 236, 236, 0.38)
    padding: 0.2em
    color: black

  ////////////////////////////////////////////////
  // Edge cases for lists with code blocks
  ////////////////////////////////////////////////

  li pre code
    font-size: 1em

  // Code blocks in nested lists should have the same size than anywhere else
  li li pre code
    font-size: 0.8em

  // This happens when there are code blocks in list items, the text prior to the code block is in a "p"
  li p
    font-size: 1em

  ////////////////////////////////////////////////
  // End of the edge cases
  ////////////////////////////////////////////////


  @media (min-width: 1370px)
    .meta
      float: right
      margin: 13px -170px 0 0
      .comments
        display: block
      .published_at
        display: block
        line-height: normal
    .meta-small
      display: none
